@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: hsl(25, 100%, 94%);
  --secondary: hsl(26, 100%, 55%);
/*  */
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(220, 13%, 13%);
  --gray: hsl(219, 9%, 45%);
  --light-gray: hsl(220, 14%, 75%);
}